{% extends "account/base.html" %}
{% load static %} <!-- Load static files -->
{% load socialaccount %}

{% block content %}
<div class="form-container">
    <!-- Instagram Logo (replace with an actual logo) -->
    <img class="instagram-logo" src="{% static 'images/insta-logo.png' %}" alt="Instagram Logo">
    <form method="POST">
        {% csrf_token %}

        <!-- Render Django form fields with Instagram-style input -->
        {{ form.as_p }}

        <button type="submit">Log In</button>
    </form>
    <div class="separator">
        <hr>
        <span>OR</span>
        <hr>
    </div>
  
        <a href="{% provider_login_url 'google' %}"class="google-login-button">Login with Google</a>
    <p>Don't have an account? <a href="{% url 'account_signup' %}"class="signup-link">Sign up</a></p>
</div>
{% endblock %}

